.form-wrapper{
	width: 100%;
	padding-top: 80px;
	padding-bottom: 30px;
	background-color: rgb(230, 224, 218);
}
.form-style{
	max-width: 500px;
	padding: 10px 20px;
	background: #f4f7f8;
	margin: 10px auto;
	padding: 20px;
	background: #f4f7f8;
	border-radius: 8px;
	font-family: 'SaucerBB', 'Saucer BB';
}
.form-style fieldset{
	border: none;
}
.form-style legend {
	font-size: 2em;
	margin-bottom: 10px;
}
.form-style label {
	display: block;
	margin-bottom: 8px;
}
.form-style input[type="text"],
.form-style input[type="email"],
.form-style input[type="number"],
.form-style textarea,
.form-style select {
	font-family: "Seravek-Normal";
	background: rgba(255,255,255,.1);
	border: none;
	border-radius: 4px;
	font-size: 15px;
	margin: 0;
	outline: 0;
	padding: 10px;
	width: 100%;
	box-sizing: border-box; 
	background-color: #e8eeef;
	color:#8a97a0;
	box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
	margin-bottom: 30px;
}
.form-style input[type="text"]:focus,
.form-style input[type="email"]:focus,
.form-style input[type="number"]:focus,
.form-style textarea:focus,
.form-style select:focus{
	background: #d2d9dd;
}
.form-style select{
	height:35px;
}
.form-style .number {
	background: rgb(146, 45, 51);
	color: #fff;
	height: 30px;
	width: 30px;
	display: inline-block;
	font-size: 0.8em;
	margin-right: 4px;
	line-height: 30px;
	text-align: center;
	text-shadow: 0 1px 0 rgba(255,255,255,0.2);
	border-radius: 15px 15px 15px 0px;
}

.form-style input[type="submit"],
.form-style input[type="button"]
{
	position: relative;
	display: block;
	padding: 19px 39px 18px 39px;
	color: #FFF;
	margin: 0 auto;
	background: rgb(146, 45, 51);
	font-size: 18px;
	text-align: center;
	font-style: normal;
	width: 100%;
	border: 1px solid rgb(110, 39, 43);
	border-width: 1px 1px 3px;
	margin-bottom: 10px;
}
.form-style input[type="submit"]:hover,
.form-style input[type="button"]:hover
{
	background: rgb(110, 39, 43);
	cursor: crosshair;
}

input:valid{
	border-color: green!important;
}
input:invalid{
	border-color: red!important;
}