* {
    margin: 0;
    padding: 0;
    
}
a{
    text-decoration: none;
    color: #fff;
    transition-duration: .25s;
}
@font-face{
    font-family: "Apex MK2 Condensed";
    src: url("fonts/apex-mk2.light-condensed.otf");
}
@font-face{
    font-family: "Seravek-Normal";
    src:url("fonts/Seravek.ttf");
}
header{
    position: fixed;
    width: 100%;
    display:grid;
    grid-template-columns:45% 55%;
    height: 3.75rem;
    background-color: #000;
    font-family: 'Apex MK2 Condensed';
    color:#fff;
    font-size: 1.8vw;
    z-index:99;
}
header .big-menu{
    grid-row: 1/2;
    grid-column: 2/3;
    display:grid;
    grid-template-columns: repeat(7, 1fr);
    align-items: center;
    justify-items: center;
}
header .big-menu li{
    list-style: none;
    width: 100%;
    height: 100%;
}
header .big-menu a{
    display: grid;
    text-decoration: none;
    color:inherit;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-items: center;
}
header .big-menu a:hover{
    background-color: rgb(37, 37, 37);
    color: rgb(218, 41, 42);
}
header .big-menu li img{
    height: 3.125rem;
    padding-top: 5%;
}
/* For Current Page Background */
.current-page{
    background-color:rgb(37, 37, 37);    
}
.button-wrapper{
    display: grid;
    align-items: center;
    justify-items: center;
    text-align: center;
}
.button-wrapper a{
    text-decoration: none;
    width: 75%;
    height: 75%;
    display: grid;
    align-items: center;
}
.button{
    width: 100%;
    height: 100%;
    font-family: 'Seravek-Normal';
    background-color: rgb(218, 41, 42);
    border:none;
    font-size: 1.5vw;
    color: #fff;
    cursor: crosshair;
    transition-duration: .5s;
    align-items: center;
    line-height: 3vw;
}
.button:hover{
    background-color: rgb(138,21,21);
    
    transition-duration: .5s;
}


.hamburger-container{
    position: fixed;
    top: 0.625rem;
    right: 0.9375rem;
    z-index: 101;
    visibility: collapse;
}
.bar1, .bar2, .bar3 {
    width: 2.1875rem;
    height: 0.3125rem;
    background-color: #ddd;
    margin: 0.375rem 0;
    transition: 0.4s;
}
.hamburger-container:hover{ cursor: crosshair;}
.hamburger-container:hover .bar1,
.hamburger-container:hover .bar2,
.hamburger-container:hover .bar3{
    background-color: #fff;
}
.change .bar1 {transform: translateY(0.6875rem) rotate(-45deg);}
.change .bar2 {opacity: 0;}
.change .bar3 {transform: translateY(-0.6875rem) rotate(45deg);}
.appear{left:0%!important;}

.hamburger-menu{
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 100;
    left: 100%;
    transition-duration: .5s;
    background-color: rgba(0,0,0,0.9);
}
@media screen and (max-height:534px){
    
}
.hamburger-menu ul{
    padding: 25% 0%;
    grid-gap: 3%;

    list-style-type: none;
    padding-left: 10%;
    font-size: 5vw;
    line-height: 10vw;
    color: #aaa;
}
@media screen and (max-height:560px){
    .hamburger-menu ul{
        padding-top: 10%;
    }
}
.hamburger-menu ul li{
    transition-duration: .2s;
    text-align: center;
}
.hamburger-menu ul li:hover{
    background: repeating-linear-gradient(
                    -45deg,
                    rgba(71, 72, 75,0.1),
                    rgba(255,255,255,0.1) 5px,
                    rgba(255,255,255,0.1) 5px,
                    rgba(255,255,255,0.1) 10px
                  );
    color: #fff;
    cursor: crosshair;
}
/* Responsive header */
@media screen and (max-width:1024px){
    header{
        font-size: 2.25vw;
    }
    header ul{
        grid-template-columns: 0.1fr repeat(5,1fr) 0.1fr;
    }
    header ul li img{
        height: 0px;
    }
    .button{
        line-height: 4vw;
        font-size: 2vw;
    }
}
@media screen and (max-width: 800px){
    header .big-menu{
        visibility: collapse;
    }
    header .hamburger-container{
        visibility: visible;
    }
    .button{
        font-size: 2.5vw;
        line-height: 5vw;
    }
}
@media screen and (max-width: 540px){
    .button{
        font-size: 3vw;
        line-height: 6vw;
    }
}



