html {
  font-family: sans-serif;
}

p {
  /* sizing and position */
  width: 200px;
  margin: auto;
  line-height: 3;
  /* text */
  font-size: 1.06rem;
  /*Default = 16 px size=17/16;*/
  text-align: center;
  color: #ff0000;
  text-shadow: 1px 1px 1px black;
  /*border*/
  border-radius: 10px;
  border: 1px solid #461313;
  /* background */
  background-color: red;
  background-image: linear-gradient(to top left, rgba(0,0,0,0.2), rgba(0,0,0,0.2) 30%, rgba(0,0,0,0));
  /* Multiple Box shadows */
  box-shadow: inset 2px 2px 3px rgba(255,255,255,0.6),
              inset -2px -2px 3px rgba(0,0,0,0.6),
              2px 2px 5px black;
}